<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3D9CA94C-C10C-4F7B-B7B0-C1EA4E81247E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A985CB-0D1E-43D9-8903-9509258741CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77FB4088-63E3-441F-875E-B759F77B1161</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A1F949C-9F21-4340-AFC2-4870EAAB2B30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7A1F949C-9F21-4340-AFC2-4870EAAB2B30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4FD731C-A2CD-4188-B9BF-6403DCF2616E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9A32F0C6-D714-4E65-88C2-6A824CDCAB68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFF08AC6-8B99-4652-B19C-7E2A59979597</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A5E0984D-5752-4483-84D9-3EB471A1F170</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A32F0C6-D714-4E65-88C2-6A824CDCAB68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ABAF1716-DD83-4C0B-AC83-B8D30A3DC559</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D9CA94C-C10C-4F7B-B7B0-C1EA4E81247E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Steve Winton</string>
	<key>description</key>
	<string>Miscenalleous workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Miscellany</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BFF08AC6-8B99-4652-B19C-7E2A59979597</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

echo $query | tr '[:upper:]' '[:lower:]' | tr -s '[:punct:][:blank:]' '-' | tr -dc '[:alnum:]-'
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9A32F0C6-D714-4E65-88C2-6A824CDCAB68</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>slugify</string>
				<key>text</key>
				<string>Slugify the input</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5E0984D-5752-4483-84D9-3EB471A1F170</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>10A985CB-0D1E-43D9-8903-9509258741CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n $( date +%s ) | openssl dgst -sha1 -hmac "key"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D9CA94C-C10C-4F7B-B7B0-C1EA4E81247E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sha</string>
				<key>text</key>
				<string>Sometimes you just need a SHA-1</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ABAF1716-DD83-4C0B-AC83-B8D30A3DC559</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>plaintextify</string>
				<key>subtext</key>
				<string>Great for copying, pasting from Word, for exampel</string>
				<key>text</key>
				<string>Strips formatting from whatever is on the clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77FB4088-63E3-441F-875E-B759F77B1161</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A1F949C-9F21-4340-AFC2-4870EAAB2B30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D4FD731C-A2CD-4188-B9BF-6403DCF2616E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>10A985CB-0D1E-43D9-8903-9509258741CF</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>3D9CA94C-C10C-4F7B-B7B0-C1EA4E81247E</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>77FB4088-63E3-441F-875E-B759F77B1161</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>7A1F949C-9F21-4340-AFC2-4870EAAB2B30</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>9A32F0C6-D714-4E65-88C2-6A824CDCAB68</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>A5E0984D-5752-4483-84D9-3EB471A1F170</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>ABAF1716-DD83-4C0B-AC83-B8D30A3DC559</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>BFF08AC6-8B99-4652-B19C-7E2A59979597</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>D4FD731C-A2CD-4188-B9BF-6403DCF2616E</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/swinton</string>
</dict>
</plist>
